
.container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    width: 100%;
    margin: auto 2rem;
    padding: 3rem 2rem;
    border: 1px solid #555;
    border-radius: 6px;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

.container a {
    text-decoration: none;
    padding: 0.4rem 0.6rem;
    font-size: 2rem;
    color: #555;
}

.container a:hover {
    cursor: pointer;
}

main {
    padding: 0.25rem 1rem;
    margin-top: 3rem;
    background-color: #eee;
    border-radius: 6px;
    font-size: 1.4rem;
}
