<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPassword">Your old password</label>
    <input type="text" id="oldPassword"
            class="form-control"
            formControlName="oldPassword" />
    <div *ngIf="oldPassword.touched && oldPassword.invalid">
      <div *ngIf="oldPassword.errors.required" class="alert alert-warning">Old password is required!</div>
      <div *ngIf="oldPassword.errors.doNotMatchOldPassword" class="alert alert-danger">Password is not correct.</div>
    </div>  
  </div>

  <div class="form-group">
    <label for="newPassword">Your new password</label>
    <input type="password" id="newPassword"
            class="form-control"
            formControlName="newPassword" />
    <div *ngIf="newPassword.touched && newPassword.invalid">
        <div *ngIf="confirmPassword.errors.required" class="alert alert-warning">New password is required!</div>
    </div>  
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm new password</label>
    <input type="password" id="confirmPassword"
            class="form-control"
            formControlName="confirmPassword"
            pattern="{{ newPassword.value }}" />
    <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
      <div *ngIf="confirmPassword.errors.required" class="alert alert-warning">Confirmation of the new password is required!</div>
      <div *ngIf="confirmPassword.errors.pattern" class="alert alert-info">Password & Confirm Password does not match.</div>
    </div>  
  </div>

</form>