<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="wrap">
  <zippy title="Shipping Details">
    <p>Duo dolore sit et clita amet, aliquyam clita sed duo nonumy amet et et et. Rebum amet lorem stet est.</p>
    <p>Prose and thy of have days heavenly. Parasites the not unto in so. Delphis yet friend drop 
      cell caught mote, companie a gild favour and.</p>
    <p>De quille inouies pieds blonds béni crépuscule les ravie fermentent, béhémots rutilements mer couleurs des de maries pénétra fortes folle. Je de dévorés suivi de. Impassibles liens a a papillon..</p>
  </zippy>

  <zippy title="Billing Details">
      <p>Großer teuren gar im wie freunde du sanft wo, in du wo gar denkst weh liebe so ich dir. 
        Kleinem zu spät du dann ort ort. Nun der denkst gesellschaft.</p>
    </zippy>
</div>

